[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsefire = "*"
pulsefire-types = "*"
django = "*"
djangorestframework = "*"
decouple = "*"
sentry-sdk = "*"
channels = {extras = ["daphne"], version = "*"}
drf-spectacular = "*"
django-filter = "*"
singleton-decorator = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
